<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700" rel="stylesheet")
    link(rel="stylesheet", href="style.css")
    script(src="script.js")
    title To Do List
  body
    #container
      header
        input(type="text",placeholder="Enter an activity..." id="item")
        button#add  +
      h2 To Do
      br
      ul.todo#todo
        li item1
          .buttons
            button.remove -
            button.complete x
      br
      h2 Completed
      br
      ul.completed#completed
        li item2
          .buttons
            button.remove -
            button.complete x